{% extends "layout.html" %}


{% block content %}
<section>
    <div class="urundetay">
        <div class="urundetayimg">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100%" />
        </div>
        <div class="urundetayad">
            <a href="#">{{ product.name }}</a> <br />
            <a href="" style="color: rgb(0, 0, 0);">{{ product.price }} TL</a>
        </div>
        <div class="urundetayac">
            <h4 style="color: rgb(49, 49, 49); text-decoration:underline">Açıklama</h4>
            <p>{{ product.detail }}</p>
        </div>
    </div>
</section>
{% endblock %}